.borderad {
    width: 100%;
    height: 100%;
    background-color: #62C3ED;
}

.contenido {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    background-color: #395795;
}

.navbar {
    background-color: #62C3ED !important;
}

.section-one {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

.boton {
    border: none;
    border-radius: 15px;
    background-color: #395795;
    text-decoration: none;
    color: white;
    padding: 8px 15px;
}

.boton:hover {
    background-color: #24375c;
}

.boton-cont {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.texto {
    width: 45%;
}

.imagen {
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.titulo {
    color: #395795;
}